.main1
{
  width: 50%;
  height: 570px;
  /*border: 1px solid red;*/
  background-color: black;
}
.main2
{
  width: 50%;
  height: 570px;
  /*border: 1px solid red;*/
}
.mergeboth
{
  display: flex;
  flex-direction: row;
}
#mainimg
{
  position: relative;
  top: 150px;
  left: 140px;
}
.wh
{
  position: relative;
  top: 150px;
  left: 140px;
  color: white;
  font-size: 40px;
}
.tp
{
  position: relative;
  top: 150px;
  left: 140px;
  color: white;
}
.myform{
  position: relative;
  left: 50px;
  top: 100px;
  width: 514px;
  height: 250px;
  /*background-color: lightskyblue;*/
  /*background: linear-gradient(135deg, orange 50%, cyan);*/
}
.input
{
  width: 150px;
  padding: 10px;
  margin-left: 50px;
}
.lables
{
  margin-top: 30px;
  font-size: 15px;
  margin-left: 50px;
}
#sbtn
{
  margin-left: 50px;
  padding: 10px;
}
.example-form {
  margin-top: 80px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.pos
{
  position: relative;
  top: -35px;
  left: 430px;
}
#Rg
{
  font-family: sans-serif;
  position: relative;
  top:30px;
  font-size: 45px;
}
